body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica;
}

.sec1, .sec2, .sec3 {
    display: flex;
    flex-direction: column;
}

.sec1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.hLogoText {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
}

.cContainer {

}

.cLargeText {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.cSmallText {
    font-size: 18px;
    color: #E5E7EB;
}

.cButton {
    border-color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.cImage {
    border: 1px solid black;
    width: 400px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.topText {

}

.info {
    display: flex;
}

.iImage {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.iText {

}

.quote {

}

.speaker {

}

.sec4, .footer {
    display: flex;
}

.signUp {
    display: flex;
}

.sText {

}

.sLargeText {

}

.sSmallText {

}

.fText {

}